/*
TODO: Organize this if possible
*/

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 5px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.margin20 {
  margin-left: 20px; 
  margin-right: 20px;
}

.margin0 {
  margin-top: 0; 
  margin-bottom: 0;
}

.labelBoxes {
  margin-top: 0;
  margin-bottom: 5px;
}
.spanLabelBox {
  border-right: solid;
  border-bottom: solid;
  border-bottom-style: outset;
  border-right-style: outset;

}
.performedColumn {
  padding: 0px 0px;
}
.insideSpanLabel {
  margin-bottom: 3px;
  margin-right: 3px;
}
.performedPanel {
  margin-bottom: 3px;
}
.performedHeading {
  padding: 3px 15px;
}
.performedBody {
  padding: 3px 15px;
}

.versionLabel {
  position: absolute;
  right: 0;
  top: 0;
  /*position: relative;*/
  /*top: 20%;*/
  /*transform: perspective(1px) translateY(100%);*/
}
